@model IEnumerable<kayitsistemi2.Models.TaskModel>

<p>
    <h1>Görev Sayfası</h1>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Content
            </th>
            <th>
                Id
            </th>
            <th>
                Oluşturan Kişi
            </th>
            <th>
                Status
            </th>
            <th>
                Do'it
            </th>
            <th>
                Yapan Kişi
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Content
                    </td>
                    <td>
                        <a>@item.TaskId</a>
                    </td>
                    <td>
                        <a>@item.IdentityCreatorId</a>
                    </td>
                    <td>
                        <div class="form-group form-check">
                            @if (item.TaskStatus == false)
                            {
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="@item.TaskStatus" disabled>
                                <label class="form-check-label" for="flexCheckDefault">
                                    Yapılmadı
                                </label>
                            }
                            else
                            {
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="@item.TaskStatus" checked disabled>
                                <label class="form-check-label" for="flexCheckDefault">
                                    Yapıldı
                                </label>
                            }
                        </div>
                    </td>
                    <td>
                        @if (item.TaskStatus == false)
                        {
                            <a class="btn btn-info" href="/usertask/do/@item.TaskId">Yap</a>
                        }
                        else
                        {
                            <a class="btn btn-info disabled" href="/usertask/do/@item.TaskId" >Yap</a>
                        }

                    </td>
                    <td>
                        <a>@item.IdentityUserId</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}