@model TaskModel
@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="../assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />

<h1>Hoş geldin</h1>
<h3>@User.Identity.Name</h3>

@if (User.IsInRole("Admin"))
{
    <br />
    <br />
    <span class="d-block p-2 bg-primary text-white"><h1 class="display-4">Toplam Kullanıcı Sayısı : @ViewBag.ToplamKullanici</h1></span>
    <br />

    <span class="d-block p-2 bg-dark text-white"><h1 class="display-4">Toplam Görev Sayısı : @ViewBag.ToplamGorevSayisi</h1></span>
    <br />

    <span class="d-block p-2 bg-primary text-white"><h1 class="display-4">Toplam Yapılan Görev Sayısı : @ViewBag.Yapilan_Gorev_Sayisi</h1></span>
    <br />

    <span class="d-block p-2 bg-dark text-white"><h1 class="display-4">Toplam Yapılmayan Görev Sayısı : @ViewBag.Yapilmayan_Gorev_Sayisi</h1></span>
    <br />
}
else
{

}


